<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- D3.js -->
  <script src="https://unpkg.com/d3@4.13.0/build/d3.min.js" charset="utf-8"></script>
  <!-- Leaflet (JS/CSS) -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.css" />
  <script src="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.min.js"></script>
  <!-- leaflet-elevation -->
  <link rel="stylesheet" href="https://unpkg.com/@raruto/leaflet-elevation@0.3.9/leaflet-elevation.min.css">
  <script src="https://unpkg.com/@raruto/leaflet-elevation@latest/leaflet-elevation.js"></script>
  <link rel="stylesheet" href="../static/css/home.css">
  <link rel="stylesheet" href="../static/css/modal.css">
  <script type="text/javascript" src="../static/lib/geojson.min.js"></script>
  <script type="text/javascript" src="../static/js/home.js"></script>
  <script type="text/javascript" src="../static/js/mapElevation.js"></script>
  <script type="text/javascript" src="../static/js/rest.js"></script>
</head>

<body>
  <div id="map"></div>
  <div id="modal_div" class="modal" style="display:none">
    <div class="modal-content">
      <span class="close" onclick="closeModalAndReset()">&times;</span>
      <div class="flex">
        <div id="offset_mode_div" class="input_section" style="background:rgba(230, 215, 154, 0.52)">
          <label>Height of the antenna pole</label>
          <div class="vl"></div>
          <label id="offset_mode_lb" class="l-usrIn">
            Mode:
            <select id="offset_mode" class="userInput selector" onchange="offsetModeChanged(this.value)">
              <option value="auto" selected>Auto</option>
              <option value="manual">Manual</option>
            </select>
          </label>
          <div id="auto_offset_div" class="offset_mode_div">
            <label class="l-usrIn">Range max (10):<input type="number" id="auto_offset" class="userInput" min="0" max="10" step="1" value="10" /></label>
          </div>
          <div id="manual_offset_div" class="offset_mode_div" style="display: none">
            <label class="l-usrIn">Source<input type="number" id="manual_src_offset" class="userInput" min="0" max="10" step="1" required /></label>
            <label class="l-usrIn">Destination<input type="number" id="manual_dst_offset" class="userInput" min="0" max="10" step="1" required /></label>
          </div>
          <div id="result_offset_div" class="offset_mode_div" style="display: none">
            <table>
              <tr>
                <td>Offsets(m):</td>
              </tr>
              <tr>
                <td></td>
                <td>Source</td>
                <td id="result_src_offset"></td>
              </tr>
              <tr>
                <td></td>
                <td>Destination</td>
                <td id="result_dst_offset"></td>
              </tr>
              <tr><td></td></tr>
              <tr><td>Link data:</td></tr>
              <tr>
                <td></td>
                <td>Loss(dB):</td>
                <td id="result_loss"></td>
              </tr>
              <tr>
                <td></td>
                <td>Max bitrate:</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Down:<label id="result_bitrate_dwn"></label>
              </tr>
              <tr>
                <td></td><td></td>
                <td>Up:<label id="result_bitrate_up"></label></td>
              </tr>
            </table>
          </div>
        </div>
        <div id="devices_div" class="input_section" style="background:rgba(206, 231, 255,0.52)">
          <label>Device</label>
          <div class="vl"></div>
          <label class="l-usrIn">Source<select id="src_device" class="userInput"></select></label>
          <label class="l-usrIn">Destination<select id="dst_device" class="userInput"></select></label>
          <label class="l-usrIn">Bandwidth (MHz)
            <select id="bandwidth" class="userInput">
              <option value="20" selected>20</option>
              <option value="40">40</option>
              <option value="80">80</option>
              <option value="160">160</option>
            </select>
          </label>
        </div>
      </div>
      <div id="button_div">
        <button id="get_data" class="success" onclick="requestLinkData()">Get data</button>
        <button class="danger" onclick="closeModalAndReset()">Reset</button>
      </div>
    </div>
    <div id="elevdata" class="modal-content_data" style="display:none">
      <!--<span id="close" onclick="hideElevationData()">&times;</span>-->
      <div id="elevation-div"></div>
      <div id="data-summary" class="data-summary"><span class="totlen"><span class="summarylabel">Total Length: </span><span class="summaryvalue" /></span>—<span class="maxele"><span class="summarylabel">Max Elevation: </span><span class="summaryvalue" /></span>—<span class="minele"><span class="summarylabel">Min Elevation: </span><span class="summaryvalue"></span></span></div>
    </div>
  </div>
  <script>
    initMapTerrainProfile();
    requestDeviceData();
  </script>

</body>
</html>
