<!DOCTYPE html>
<html>
<head>
  <meta content="initial-scale=1.0">
  <title>leaflet-elevation.js</title>

  <!-- D3.js -->
  <script src="https://unpkg.com/d3@4.13.0/build/d3.min.js" charset="utf-8"></script>
  <!-- Leaflet (JS/CSS) -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
  <!-- leaflet-elevation -->
  <link rel="stylesheet" href="https://unpkg.com/@raruto/leaflet-elevation@0.3.9/leaflet-elevation.min.css">
  <script src="../static/lib/Leaflet.Elevation/leaflet-elevation.js"></script>
  <link rel="stylesheet" href="../static/css/home.css">
  <script src="../static/js/home.js"></script>
</head>

<body>
  <!--  <div id="info"></div>-->
  <div id="map"></div>
  <div id="input_div">
    <form>
      <fieldset>
        <legend>Height offsets</legend>
        <div id="offset_mode_div">
          <select id="offset_mode" onchange="offsetModeChanged(this.value)">
            <option value="auto" selected>Auto offset</option>
            <option value="manual">Manual offset</option>
          </select>
          <div id="auto_offset_div" class="offset_mode_div">
            <label>Range max (10):<input type="number" id="auto_offset" min="0" max="40" step="1" value="10" /></label>
          </div>
          <div id="manual_offset_div" class="offset_mode_div" style="display: none">
            <label>Source<input type="number" id="manual_src_offset" min="0" max="50" step="1" required /></label>
            <label>Destination<input type="number" id="manual_dst_offset" min="0" max="50" step="1" required /></label>
          </div>
          <div id="result_offset_div" class="offset_mode_div" style="display: none">
            <label>
              Source:
              <label id="result_src_offset"></label>
            </label>
            <label>
              Destination:
              <label id="result_dst_offset"></label>
            </label>
          </div>
        </div>
        <div id="button_div">
          <button id="get_data" type="button" onclick="requestLinkData()">Get data</button>
          <button onclick="resetAll()">Reset</button>
        </div>
      </fieldset>
    </form>
  </div>
  <div id="elevdata">
    <span id="close" onclick="hideElevationData()">x</span>
    <div id="elevation-div"></div>
    <div id="data-summary" class="data-summary"><span class="totlen"><span class="summarylabel">Total Length: </span><span class="summaryvalue" /></span>—<span class="maxele"><span class="summarylabel">Max Elevation: </span><span class="summaryvalue" /></span>—<span class="minele"><span class="summarylabel">Min Elevation: </span><span class="summaryvalue"></span></span></div>
  </div>
  <button id="show_elev_data" style="display: none; clear: both" onclick="showElevationData()">Show terrain profile</button>
  <script>
    initialize();

    function offsetModeChanged(option) {
      switch (option) {
        case 'auto':
          document.getElementById("manual_offset_div").style.display = 'none';
          document.getElementById("auto_offset_div").style.display = 'block';
          break;
        case 'manual':
          document.getElementById("auto_offset_div").style.display = 'none';
          document.getElementById("manual_offset_div").style.display = 'block';
          break;
      }
    }
    function hideElevationData() {
      document.getElementById('elevdata').style.display = 'none';
      document.getElementById('show_elev_data').style.display = 'block';
    }
    function showElevationData() {
      document.getElementById('elevdata').style.display = 'block';
      document.getElementById('show_elev_data').style.display = 'none';
    }
  </script>

</body>
</html>
